apiVersion: v1
kind: Service
metadata:
  name: demo-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: netflix
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30080
